@import 'utils/style/_variable.scss';

.wrapper {
  max-width: 189px;

  &:not(:last-child) {
    padding: 0 28px 0 0;
  }

  img {
    height: 189px;
    width: 189px;
    margin: 0 0 15px 0;
  }
}

.title {
  color: $white;
  margin: 0 0 5px 0;
  font-family: $font-Extra-bold;
  font-weight: $bold;
}

.name {
  color: $gray-light;
}
